doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    block content
    script(src='js/jquery.min.js')
    script(src='js/general.js')
    script(src='js/user.js')
    block js